body{
  background-image: url("img/block.png");
  background-repeat: repeat;
}
#displayMode{
  margin-left: 80px;
}

.playing{
  /*background-color: #BA0005;*/
}
.notPlaying{
  /*background-color: #B5FFAD;*/
}
.room{
  /* 文字の太さをboldに指定 */
  font-weight: bold;

  /* 背景色を白色に指定 */
  background-color: #fff;

  width: 300px;
  height: 130px;
}
h1{
  font-size: 2.8em;
}
#reloadImg{
  height:40px;
  width:40px;
}

#changeMode{
  font-size: 1.8em;
  margin-bottom: 10px;
}

#makeRoom{
  font-weight: bold;
  background-color: #fff;
  width: 300px;
  height: 130px;
}

.mainInfo{
  font-size: 3.8em;
}

.addInfo{
  font-size: 1.8em;
}

.playing{
  color: #000;
}
h1.notPlaying{
  text-shadow:
  0 0 25px #edf8ff,
  0 0 20px #edf8ff,
  0 0 0.40px #edf8ff;
}
h1.playing{
  text-shadow:
  0 0 25px #D41619,
  0 0 20px #D41619,
  0 0 0.40px #D41619;
}
addInfo.notPlaying{
  text-shadow:
  0 0 25px #edf8ff,
  0 0 20px #edf8ff,
  0 0 0.40px #edf8ff;
}
addInfo.playing{
  text-shadow:
  0 0 25px #D41619,
  0 0 20px #D41619,
  0 0 0.40px #D41619;
}

.notPlaying{
  color: #000;
}
